# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/Facturacion/dist/
Facturacion/build/classes/facturador/Login.class
Facturacion/build/classes/facturador/Login.class
Facturacion/build/classes/facturador/Login.class
*.form
Facturacion/build/classes/facturador/Login.class
Facturacion/build/classes/facturador/Login.form
Facturacion/build/classes/facturador/Menu.class
Facturacion/build/classes/facturador/Menu.form
Facturacion/build/classes/facturador/Users.class
Facturacion/build/classes/facturador/VFactura.class
Facturacion/build/classes/facturador/VFactura.form
Facturacion/nbproject/private/private.properties
Facturacion/nbproject/private/private.xml